<div class="header pt-2">
  <div class="row pl-2 pr-2">
    <div class="col-1 menu-holder">
      <div class="menu">
        <div class="icon">
          <img src="../../assets/img/Menu.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-9 title">Contacts</div>
    <div class="col-2 arrows">
      <div class="row">
        <div class="col-6 pad-l-30">
          <div class="navigation">
            <div class="icon">
              <img class="icon-img" src="../../assets/img/Icon-Left.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="navigation">
            <div class="icon">
              <img class="icon-img" src="../../assets/img/Icon-Right.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
