.menu,
.navigation {
  width: 42px;
  height: 42px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eceef5;
  background: rgba(255, 255, 255, 1);

  .icon {
    width: 32px;
    height: 31px;
    overflow: hidden;
    font-family: Material Icons;
    font-size: 18px;
    text-align: center;
    color: #8083A3;

    .icon-img {
      position: relative;
      top: 4px;
      left: 2px;
    }
  }
}

.title {
  margin-left: -24px;
  overflow: hidden;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 32px;
  margin-top: 5px;
  color: #1A1B1C;
}

.arrows {
  .pad-l-30 {
    padding-left: 30px;
  }
}

.header {
  border-bottom: 1px solid #ECEEF5;
  padding-bottom: 20px;
}

.menu-holder {
  margin-left: 10px;
}
