<div class="search-field mt-3">
  <div class="row">
    <div class="col-11">
      <div class="row">
        <div class="col-12">
          <div class="search-placeholder"></div>
        </div>
      </div>
      <div class="search-input-field">
        <form>
          <div class="form-group">
            <label for="searchField" class="search-field-label">Search for a contact</label>
            <input type="text" class="form-control" id="searchField" placeholder="Name, email or phone number">
          </div>
        </form>
        <!-- <input type="text" placeholder="Name, email or phone number"> -->
      </div>
    </div>
    <div class="col-1">
      <div class="icon">
        <img class="search-icon" src="../../assets/img/Search-Icon.png" alt="">
      </div>
    </div>
  </div>
</div>
