.search-field-label {
  overflow: hidden;
  font-family: Lato;
  font-size: 20px;
  text-align: left;
  line-height: 21px;
  color: #8083A3;
}

.search-icon {
  height: 14px;
  width: 14px;
  margin-top: 40px;
}
