<div class="container-fluid">
  <div class="row">
    <div class="col contact-list">
      <div class="row">
        <div class="col-12 p-0">
          <app-header></app-header>
        </div>
        <div class="col-12">
          <app-search-field></app-search-field>
        </div>
        <div class="mt-3">
          <ng-container *ngIf="isDataLoading">
            <ng-container *ngTemplateOutlet="loader"></ng-container>
          </ng-container>
          <app-user-list *ngIf="!isDataLoading" [users]="users" (userSelected)="loadUser($event)"></app-user-list>
        </div>
      </div>
    </div>
    <div class="col">
      <ng-container *ngIf="isUserLoading">
        <ng-container *ngTemplateOutlet="loader"></ng-container>
      </ng-container>
      <app-user-profile *ngIf="!isUserLoading" [user]="loadedUserProfile"></app-user-profile>
    </div>
  </div>

</div>

<ng-template #loader>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
</ng-template>
