<div class="row user-profile">
  <div class=" col-1">
    <img class="user-img img-fluid" [src]="user.avatar" [alt]="user.name">
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-12 user-name">{{user.name}}</div>
      <div class="col-12 user-company-name">{{user.companyName}}</div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-4">
        <div class="user-actions">
          <div class="icon">
            <img class="icon-img" src="../../assets/img/Chat.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="user-actions">
          <div class="icon">
            <img class="icon-img" src="../../assets/img/Call.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="user-actions">
          <div class="icon">
            <img class="icon-img" src="../../assets/img/Three-Dots.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
